body {
    width: 100%;
    height: 100%;

}

.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main {
    margin: 0 auto;
    height: 980px;
    float: left;
    position: relative;
}

.logo {
    padding: 15px;
}

.redes-sociais ui li {
    display: inline-block;
    float: left;
}